body{
    margin: 0%;
    background-color: #444444;
    height: 100vh;
    border: 20px solid black;
}
.head{
    margin-top: 50px;
    color: #4CAF50;
    text-align: center;
    font-size: 3em;
}
.won{
    margin-top: 50px;
    color: #ff0000;
    text-align: center;
    font-size: 3em;

}
button{
    background-color: #4CAF50;
    color: white;
    width: 85px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid white;
    margin-right: 20px;

    
}
.btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
h6{
    margin-top: 50px;
    color: white;
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;
}
h3{
    margin-top: 50px;
    color: white;
    text-align: center;
    font-size: 2em;
}    

